body{
    margin:0;
    font-family: Inter, sans-serif;
    background:#020617;
    color:white;
}

.main{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.top-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-bottom:60px;
}

.profile{
    width:130px;
    height:130px;
    border-radius:50%;
    margin-bottom:25px;
}

.desc{
    max-width:520px;
    font-size:18px;
    opacity:0.85;
    line-height:1.6;
    margin-bottom:30px;
}

.mail-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 18px;
    border-radius:16px;
    background:rgba(59,130,246,0.25);
    border:1px solid rgba(59,130,246,0.35);
    transition:0.3s;
}

.mail-btn:hover{
    transform:translateY(-2px);
    background:rgba(59,130,246,0.4);
}

.mail-text{
    font-size:15px;
    font-weight:500;
}

.gmail-logo{
    width:20px;
    filter: brightness(0) invert(1);
}

.links-grid{
    display:grid;
    grid-template-columns: repeat(4, 240px);
    gap:30px;
    justify-content:center;
    width:100%;
}

.box{
    width:90%;
    height:78px;
    padding:0 20px;
    border-radius:40px;
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.12);
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:18px;
    box-sizing:border-box;
    transition:0.3s;
}

.box:hover{
    transform:translateY(-3px);
    border:1px solid rgba(59,130,246,0.5);
    box-shadow:
        0 0 20px rgba(59,130,246,0.2),
        0 10px 30px rgba(0,0,0,0.6);
}

.logo{
    width:34px;
    height:34px;
    border-radius:50%;
    object-fit:contain;
    filter: brightness(0) invert(1);
}

.name{
    font-size:18px;
    font-weight:500;
    letter-spacing:0.3px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}


a{
    text-decoration:none;
    color:inherit;
}

@media (max-width:1000px){
    .links-grid{
        grid-template-columns: repeat(2, 1fr);
        max-width:520px;
    }
}

@media (max-width:600px){

    .box{
        height:74px;
        padding:0 18px;
    }

    .mail-btn{
        padding:12px;
        justify-content:center;
    }

    .mail-text{
        display:none;
    }

    .links-grid{
        width:100%;
        max-width:620px;
        padding:0 16px;
        display:flex;
        flex-direction:column;
        gap:18px;
    }

    .box{
        width:100%;
        height:80px;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        padding:0 24px;
        gap:20px;
        border-radius:22px;
    }

    .logo{
        width:34px;
        height:34px;
        flex-shrink:0;
    }

    .name{
        font-size:18px;
        font-weight:500;
        flex:1;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
